{% extends 'mailing/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 font-weight-normal">Рассылки</h1>
</div>
<div class="container">
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="row text-center">
            <div class="col-6">
                <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Создать сообщение для рассылки</h2>
                        <p class="lead">Здесь можно создать сообщение для рассылок </p>
                        <p><a class="btn btn-secondary" href="{% url 'mailing:message_create'%}" role="button">Начать
                            &raquo;</a></p>
                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Созданные сообщения для рассылок</h2>
                        <p class="lead">Здесь можно посмотреть, отредактировать, удалить сообщения </p>
                        <p><a class="btn btn-secondary" href="{% url 'mailing:message_list'%}" role="button">Перейти
                            &raquo;</a></p>
                    </div>

                </div>
            </div>

            <div class="col-6">
                <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Создать рассылку</h2>
                        <p class="lead">Здесь можно создать новую рассылку для вашего сервиса </p>
                        <p><a class="btn btn-secondary" href="{% url 'mailing:mailing_create'%}" role="button">Начать
                            &raquo;</a></p>
                    </div>

                </div>
            </div>

            <div class="col-6">
                <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Созданные рассылки</h2>
                        <p class="lead">Здесь можно посмотреть, отредактировать, удалить рассылки </p>
                        <p><a class="btn btn-secondary" href="{% url 'mailing:mailing_list'%}" role="button">Перейти
                            &raquo;</a></p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}